{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}

{% block content %}
<h1>Proyectos</h1>
{% if 'admin' in session.roles or 'miembro' in session.roles %}
    <a href="{{ url_for('project_bp.nuevo_proyecto') }}" class="btn btn-primary mb-3">
        + Crear Proyecto
    </a>
{% endif %}
<div class="dashboard-container">
    {% for proyecto in proyectos %}
        <a href="{{ url_for('project_bp.detalle_proyecto', id=proyecto.id) }}" class="project-card project-link">
            <h2>{{ proyecto.nombre }}</h2>
            <p class="description">{{ proyecto.descripcion }}</p>

            <p class="stats">
                Epics: {{ proyecto.epics|length }} |
                HUs: {{ proyecto.hus|length if proyecto.hus else 0 }}
            </p>
        </a>
    {% endfor %}
</div>

<style>
.project-link { text-decoration: none; color: inherit; }
.project-card:hover { transform: scale(1.02); transition: .2s; cursor: pointer; }
</style>

{% endblock %}
